/*scroll ability
overflow: scroll;*/

body {
    font-family: 'Avantgarde';
    font-size: 15px;
    background-color:white;
    opacity: 1;
  }

#country-list{
    overflow: scroll;
    height: 800px;
    display: flex;
    flex-direction: column;
    max-width: 225px;
    margin-left: -40px;
}

.hidden{
    display:none;
}

#country-list li {
    font-size: 2vh;
    margin-top: 1vh;
    padding-top: 1vh;
    background-color: rgba(45, 218, 227, 0.892);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 18px;
}

input[type="submit"] {
  color: white;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
}

header {
    float: left;
    width: 225px;
    height: 800px;
    /* border-radius: 0 0 0 0; */
    /* padding: 10px; */
    margin-right: 10px;

    background-color: azure;
  }

h2 { 
  font-family: "Great Vibes" ;
}

h1 {
  font-size: 65px;
  color: rgb(40, 179, 249);
  margin-top: 0px;
  padding-top: 25px;
  font-family: "Avantgarde";
  padding-left: 25px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  background-color: white;
  width: 150%;
  
  border-bottom: 3px solid;
}

h3 {
  color: rgb(40, 179, 249);
  margin: 10px 0;
  font-family: "Great Vibes";
}

h5 {
  color: tan;
  font-weight: bold;
}

#nameHeader {
  color: black;
}

li {
  list-style-type: none;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  height: 15px;
  margin-left: 18px;
  width: 63%
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

#main {
  font-size: 4vh;
  margin-top: 1vh;
  padding-top: 7px;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

#form-toggle {
  background-color: rgba(147, 218, 221, 0.892);
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

#money-display-ul {
  display: flex;
}

#money-display-ul li {
  margin-right: 115px;

  margin-left: -40px;
}

#calculator-display-ul {
  display: flex;
}

#calculator-display-ul li {
  margin-right: 115px;
  margin-left: -40px;
}

#amountOfEuros {
  height: 40px;
  font-size: 30px;
  width: 300px;
}

#convert-button {
  font-size: 20px;
  height: 40px;
}